:root {
    --tree-color: #44AA99;
    --leaf-color: #117733;
    --background-color: #DDCC77;
    --link-color: #332288;
}

body {
    margin: auto;
    float: top;
    background-color: var(--background-color);
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--leaf-color);
    height: 200px;
    color: var(--tree-color);
}

.trunk {
    height: 1000px;
    margin: auto;
    width: 50%;
    margin-top: 300px;
    text-align: left;
}

.leftbranch {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 20px;
    color: var(--leaf-color);
}

.leftsubbranch {
    list-style-type: disc;
    font-size: 14pt;
    color: var(--leaf-color);
}

.rightbranch {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 20px;
    color: var(--leaf-color);
}

.rightsubbranch {
    list-style-type: disc;
    font-size: 14pt;
    color: var(--leaf-color);
}

.footer {
    float: left;
    bottom: 0;
    position: fixed;
    left: 0;
    width: calc(100% - 6px);
    background-color: var(--leaf-color);
    text-align: center;
    margin: 0;
    border: var(--leaf-color) 3px solid;
}

a:link {
    color: #332288;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #332288;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #AA4499;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #882255;
    background-color: transparent;
    text-decoration: underline;
}