body {
    margin: 0;
    padding: 0;
}

.header {
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: bec4f71;
    text-align: center;
    width: 100%;
    margin: 0;
    /* border: #999999 3px solid; */
}

#biobox {
    float: top;
    background-color: white;
    margin: 0;
    width: 100%;
    height: fit-content;
    background-color: #E2E1E1;
    border: #999999 3px solid;
    font-size: x-large;
}

#entrieslist {
    float: top;
    height: fit-content;
    border: #999999 3px solid;
    width: 100%;
    background-color: #E2E1E1;
    text-align: left;
    margin: 0;
    font-size: x-large;
}

.separation {
    bottom: 0;
    left: 0;
    width: 100;
    height: 50vw;
    background-image: url(images/mvfold.jpg);
    border: #999999 3px solid;
}

.footer {
    float: left;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E2E1E1;
    text-align: center;
    margin: 0;
    border: #999999 3px solid;
}

.fish {
    position: none;
    color: none;
    top: 0;
}

.swimmingfish {
    position: absolute;
    color: none;
    top: 0;
}

a:link {
    color: #624cb1;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #624cb1;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(189, 88, 20);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}