:root {
    --tree-color: #44AA99;
    --leaf-color: #117733;
    --background-color: #DDCC77;
    --link-color: #332288;

}

body {
    margin: auto;
    float: top;
    background-color: var(--background-color);
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--leaf-color);
    height: 200px;
    color: var(--tree-color);
}

.trunk {
    width: 15%;
    height: 2000px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    background-color: var(--tree-color);
}

.leftbranch {
    width: 100%;
    color: var(--leaf-color);
    float: right;
    justify-content: left;
    text-align: left;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 20px;
    padding-right: 180%;
    padding-left: 10px;
    overflow: auto;
    overflow-wrap: break-word;
    background: linear-gradient(to bottom, var(--tree-color) 0%, var(--tree-color) 25px, transparent 25px, transparent 100%);
}

.leftbranch>.leftsubbranch:first-child {
    margin-top: 10px;
    /* To force margin for empty text in parent branch  */
}

.leftsubbranch {
    width: 80%;
    clear: both;
    float: right;
    padding-left: 10px;
    padding-right: 30%;
    margin-top: 10px;
    margin-right: -80%;
    text-align: left;
    font-size: 12pt;
    overflow: auto;
    overflow-wrap: break-word;
    color: var(--leaf-color);
    background: linear-gradient(to bottom, var(--tree-color) 0%, var(--tree-color) 20px, transparent 20px, transparent 100%);
}

.rightbranch {
    width: 100%;
    color: var(--leaf-color);
    float: left;
    justify-content: right;
    text-align: right;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 20px;
    padding-left: 180%;
    padding-right: 10px;
    overflow: auto;
    overflow-wrap: break-word;
    background: linear-gradient(to bottom, var(--tree-color) 0%, var(--tree-color) 25px, transparent 25px, transparent 100%);
}

.rightbranch>.rightsubbranch:first-child {
    margin-top: 10px;
    /* To force margin for empty text in parent branch  */
}

.rightsubbranch {
    width: 80%;
    clear: both;
    float: left;
    padding-right: 10px;
    padding-left: 30%;
    margin-top: 10px;
    margin-left: -80%;
    text-align: right;
    font-size: 12pt;
    overflow: auto;
    overflow-wrap: break-word;
    color: var(--leaf-color);
    background: linear-gradient(to bottom, var(--tree-color) 0%, var(--tree-color) 20px, transparent 20px, transparent 100%);
}

.footer {
    float: left;
    bottom: 0;
    position: fixed;
    left: 0;
    width: calc(100% - 6px);
    background-color: var(--leaf-color);
    text-align: center;
    margin: 0;
    border: var(--leaf-color) 3px solid;
}

a:link {
    color: #332288;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #332288;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #AA4499;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #882255;
    background-color: transparent;
    text-decoration: underline;
}