:root {
    --tree-color: #44AA99;
    --leaf-color: #117733;
    --background-color: #DDCC77;
    --link-color: #332288;
}

body {
    margin: auto;
    float: top;
    background-color: var(--background-color);
    height: 100%;
}

.header {
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: var(--leaf-color);
    text-align: center;
    width: 100%;
    margin: 0;
    color: var(--tree-color);
    border: var(--leaf-color) 3px solid;
}

.footer {
    float: left;
    bottom: 0;
    position: fixed;
    left: 0;
    width: calc(100% - 6px);
    background-color: var(--leaf-color);
    text-align: center;
    margin: 0;
    border: #126b23 3px solid;
}


a:link {
    color: #332288;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #332288;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #AA4499;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #882255;
    background-color: transparent;
    text-decoration: underline;
}

.blog_body {
    position: absolute;
    text-align: center;
    float: center;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
    color: var(--link-color);
    /* border: #999999 3px solid; */
}

.blog_text {
    margin: auto;
    float: center;
    text-align: left;
    width: 400px;
    height: 100%;
    padding-bottom: 50px;
}