body {
    margin: 0;
    padding: 0;
}

.header {
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: bec4f71;
    text-align: center;
    width: 100%;
    margin: 0;
    /* border: #999999 3px solid; */
}

#biobox {
    float: top;
    background-color: white;
    margin: 0;
    width: 100%;
    height: fit-content;
    background-color: #E2E1E1;
    border: #999999 3px solid;
    font-size: x-large;
}

#entrieslist {
    float: top;
    height: 300px;
    border: #999999 3px solid;
    width: 100%;
    background-color: #E2E1E1;
    text-align: left;
    margin: 0;
    font-size: x-large;
}

#links {
    float: top;
    margin: 0;
    width: 100%;
    height: fit-content;
}

.separation {
    bottom: 0;
    left: 0;
    width: 100;
    height: 50vw;
    background-image: url(images/mvfold.jpg);
    border: #999999 3px solid;
}

.footer {
    float: left;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E2E1E1;
    text-align: center;
    margin: 0;
    border: #999999 3px solid;
}

/* li {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} */

/* @keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
} */

li {
    --div-width: 120px;
    position: absolute;
    background-color: orange;
    color: none;
    /* transition: 1s top, 1s right; */
    top: 0;
    right: calc(100% - var(--div-width));
    width: var(--div-width);
    font-size: small;
}