
.header{
background-color:#E2E1E1;
text-align: center;
}

.leftbar {
	background-color: #66b3ff;

left:0; top:0;   
width: 20%;
height: 20%;

text-align: left;
position:fixed





}
.float-left-area  {
float: left;
  
width: 20%;

border: #999999 1px solid;

}

.float-right-area {
float: left;
width: 70%;  

border: #999999 1px solid;
}

.footer
{    float:left;
    bottom: 0;
    left: 0;

   width:100%;
    background-color: #E2E1E1;
   
    text-align: center;

}   
#entrieslist
{
  
    left: 0;
 
    border: #999999 1px solid;
    padding:20;

    background-color: #E2E1E1;

   text-align: left;
}
